<div class="wrapper column" *transloco="let translate">
	<p-confirmDialog/>
	<p-dialog
		[visible]="loadingWorld()"
		[modal]="true"
		[closable]="false"
		[closeOnEscape]="false"
		[draggable]="false"
		[resizable]="false"
		[showHeader]="false"
		styleClass="app-loading-dialog"
	>
		<div class="column center gap padding-sides padding-top-bottom">
			<p-progressSpinner styleClass="app-loading-spinner"/>
			<span>{{ translate(loadingMessage()) }}</span>
		</div>
	</p-dialog>
	<p-toolbar>
		<ng-template pTemplate="start">
			<div class="row center gap-small">
				<i class="pi pi-shop" aria-hidden="true"></i>
				<div>{{ translate("app.title") }}</div>
			</div>
		</ng-template>
		<ng-template pTemplate="end">
			<div class="row center gap-small">
				<app-clock-controls/>
				<div class="row center gap-small app-balance" [pTooltip]="translate('app.balance')" tooltipPosition="bottom">
					<i class="pi pi-wallet" aria-hidden="true"></i>
					<span>{{ formattedBalance() }}</span>
				</div>
				<p-button
					icon="pi pi-refresh"
					[ariaLabel]="translate('app.reset')"
					[pTooltip]="translate('app.reset')"
					tooltipPosition="bottom"
					severity="danger"
					[text]="true"
					[rounded]="true"
					(onClick)="confirmReset(translate('app.resetConfirm'), translate('app.reset'), translate('app.resetAccept'), translate('app.resetCancel'))"
				/>
				<p-button
					[icon]="isDarkTheme() ? 'pi pi-sun' : 'pi pi-moon'"
					[ariaLabel]="translate('app.themeToggle')"
					[pTooltip]="translate('app.themeToggle')"
					tooltipPosition="bottom"
					severity="secondary"
					[text]="true"
					[rounded]="true"
					(onClick)="toggleTheme()"
				/>
				<p-select
					[options]="languageOptions"
					optionLabel="label"
					optionValue="code"
					[ngModel]="activeLanguage()"
					(ngModelChange)="setLanguage($event)"
					[ariaLabel]="translate('app.languageSwitcher')"
				/>
			</div>
		</ng-template>
	</p-toolbar>
	<main class="wrapper">
		<app-map/>
	</main>
</div>
